name: Deploy Image

on:
  push:
    branches:
      - main

env:
  IMAGE_ID: ghcr.io/${{ github.repository_owner }}/oci-test

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: Login
        run: docker login ghcr.io -u $ --password-stdin <<<"${{ secrets.GITHUB_TOKEN }}"

      - name: Build
        run: docker build --tag img .

      - name: Push
        run: |
          docker tag img "$IMAGE_ID:latest"
          docker push    "$IMAGE_ID:latest"
