name: Deploy Image

on:
  push:
    branches:
      - main

env:
  VERSION: latest
  IMAGE_NAME: oci-test
  IMAGE_ID: ghcr.io/${{ github.repository_owner }}/oci-test

jobs:
  build-container:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v3

      - name: Build and Push
        run: |
          set -eux

          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin

          docker build --tag "$IMAGE_NAME" .
          docker tag "$IMAGE_NAME" "$IMAGE_ID:$VERSION"
          docker push "$IMAGE_ID:$VERSION"
